# Copyright (c) 2010 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "logging_UserCrash"
PURPOSE = "Verify user space crashes are handled appropriately."
CRITERIA = """
Fails if any of the following conditions occur:
  - expected core pattern is not output
  - user space crash handling is not running
  - forced crash does not occur
  - forced segv message is not found
  - core pattern is not recognized as as 'core'
  - crash is sent without user consent
"""
ATTRIBUTES = "suite:bvt-cq, suite:smoke"
# TODO(sarthakkukreti): cleanup-reboot is suspected to not work properly
# (crbug.com/829219). Once we know this is fixed, change TIME = "SHORT".
# logging_UserCrash locks the user pattern during its final test.
# Changing time to "fast" ensures that the udev crash test is scheduled
# before the core_pattern is locked.
TIME = "FAST"
TEST_CATEGORY = "Functional"
TEST_CLASS = "logging"
TEST_TYPE = "client"
# Reboot in the lab after the test ends. Since we lock the core_pattern
# at the end of the test, we should reboot to restore the state of the
# device.
DEPENDENCIES='cleanup-reboot'

DOC = """
Test that user space crashes are detected and handled appropriately.
"""

job.run_test('logging_UserCrash')
