# Copyright 2015 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

AUTHOR = "Chrome OS Team"
NAME = "firmware_FAFTClient"
PURPOSE = "Monitor keystrokes to veriy keyboard firmware."
CRITERIA = "This test requires servo"
SUITE = "faft"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "firmware"
TEST_TYPE = "client"

DOC = """
This test works in conjuction with the FAFTClient test on the server.
The server side uses the servo to send keystrokes, and this test
monitors the keystrokes presented to make sure that they are
the keys expected
"""

job.run_test('firmware_FAFTClient')
